body {
    font-family: sans-serif;
}
body {
background-color: rgb(144, 158, 158);
}
footer {
background-color: rgb(105, 105, 105); 
}
header {
    background-color: rgb(196, 20, 29);
}
main {
    background-color: rgb(5, 37, 49);
}

